 body {
            margin: 0;
            padding: 0;
            background-color: #dc3d3a;
            overflow: hidden;        
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: white;
        }

        .logo {
            position: relative;
            left: 50px;
            top: 25px;
        }

        nav {
            display: flex;
            position: absolute;
            left: 1100px;
            top: 20px;
        }

        nav h3 {
            margin-left: 30px;
        }
        .navMenu{
display: flex;
            color: white;
            
        }
        .point{
            cursor: pointer;
        }
        .point1{
            cursor: pointer;
        }
        
        .menu1{
            color: white;
            transition: 0.5S;
        }
        .menu1:hover{
            color: black;
        }
         .menu2{
            color: white;
            transition: 0.5S;
        }
        .menu2:hover{
            color: black;
        }
         .menu3{
            color: white;
            transition: 0.5S;
        }
        .menu3:hover{
            color: black;
        }

        .xat{
            position: relative;
            left: 130px;
            top: 200px;
            color: white;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            /* letter-spacing: 1px; */
        }

        .bola{
            width: 450px;
            height: 700px;
            position: relative;
            left: 500px;
            bottom: 230px;
        }

        .xat-2{
            position: relative;
            left: 1000px;
            bottom: 690px;
        }